* -linguist-detectable

incidents/incident-01-online-navigation/README.md -linguist-documentation linguist-language=SQL linguist-detectable
incidents/incident-02-vehicle-status/README.md -linguist-documentation linguist-language=SQL linguist-detectable
